<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="WWTRemoteControl.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <userSettings>
        <WWTRemoteControl.Properties.Settings>
            <setting name="WolList" serializeAs="String">
                <value/>
            </setting>
            <setting name="NetworkID" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="GammaA" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="GammaB" serializeAs="String">
                <value>1.3</value>
            </setting>
            <setting name="WatchDogTimer" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Master" serializeAs="String">
                <value>False</value>
            </setting>
        </WWTRemoteControl.Properties.Settings>
    </userSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1"/></startup></configuration>
